@charset "UTF-8";

table {
	width: 800px;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	text-align: left;
	margin: auto;
	justify-content: center;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
}
